{% extends "base" %}

{% block head %}
<script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(function() {
  var ms_to_timer = function(ms) {
    var secs = ms / 1000;
    if (secs < 10) {
      return secs.toFixed(2);
    } else {
      var mins = Math.floor(secs / 60);
      var hours = Math.floor(mins / 60);
      mins -= 60*hours;
      secs -= 3600*hours + 60*mins;
      secs = Math.floor(secs);
      return [
        hours.toString().padStart(2, "0"),
        mins.toString().padStart(2, "0"),
        secs.toString().padStart(2, "0"),
      ].join(":");
    }
  }

  var handle_update = function(clock) {
    console.log("handle_update", clock);
    $.each($clocks.find("tr"), function(i, tr) {
      var $tr = $(tr);
      var $td;
      $tr.toggleClass('active', i == clock.current_player);

      // player name:
      $td = $tr.find('td.player-name');
      if (!$td.hasClass('being-edited')) {
        $td.find('span').html(clock.player_names[i]);
        $td.find('input').val(clock.player_names[i]);
      }

      // countdown:
      $td = $tr.find("td.timer");
      if (clock.finished && i == clock.current_player) {
        $td.html("FLAG!!");
        $button.attr('disabled', true);
      } else {
        $td.html(ms_to_timer(clock.remaining_ms[i]));
      }
    });

    if (clock.started) {
      if (clock.finished) {
        $button.html("Done");
      } else {
        $button.html("HIT");
      }
    } else {
      $button.html("Start");
    }
  }

  var ws;
  // TODO: Use config vars for scheme+port instead:
  if (location.protocol == 'https:') {
    ws = new WebSocket("wss://" + location.hostname + "/websocket/clocks/{{ clock.code }}");
  } else {
    ws = new WebSocket("ws://" + location.hostname + ":9001/websocket/clocks/{{ clock.code }}");
  }
  var $clocks = $("#clocks");
  var $button = $("#button");
  $button.on('click', function(event) {
    $.ajax({
      method: 'POST',
      url: '/clocks/{{ clock.code }}/hit',
      success: function(data, status, jqxhr) {
        handle_update(data);
      },
    });
  });
  ws.onmessage = function(ev) {
    var cl = JSON.parse(ev.data);
    console.log(cl);
    handle_update(cl);
  };

  $clocks.find('td.player-name').on('click', function(event) {
    $(this).addClass('being-edited');
    $(this).find('input').focus();
  });
  $clocks.find('td.player-name input').on('keypress', function(event) {
    var $input = $(this);
    var $td = $input.closest('td');
    if (event.which == 13) {
      $td.removeClass('being-edited');
      $.ajax({
        method: 'POST',
        url: '/clocks/{{ clock.code }}/names',
        data: {
          position: $td.data('player-position'),
          name: $input.val(),
        },
        success: function(data, status, jqxhr) {
          handle_update(data);
        },
      });
    }
  });
});
</script>
<style>
  #clocks td {
    padding: 0.3em 0.8em;
  }
  #clocks tr.active {
    color: white;
    background: #333333;
  }
  #clocks td.player-name span {
    display: block;
  }
  #clocks td.player-name input {
    display: none;
  }
  #clocks td.player-name.being-edited span {
    display: none;
  }
  #clocks td.player-name.being-edited input {
    display: block;
  }
</style>
{% endblock head %}

{% block content %}
    <h1>Clock {{ clock.code }}</h1>
    <button id="button">Start</button>
    <table id="clocks">
        {% for timer in clock.remaining_ms %}
        <tr>
          <td class="player-name" data-player-position="{{ loop.index0 }}">
            <span title="Click to edit, press enter when done">{{ clock.player_names[loop.index0] }}</span>
            <input type="text" value="{{ clock.player_names[loop.index0] }}">
          </td>
          <td class="timer">--:--:--</td>
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
